<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin TMJ</title>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body id="admin">
  <div class="menu">
    <%= link_to "ADMIN TMJ", root_path, class: "title-admin" %>
    <div class="user">
      <span>Robson C.</span>
      <div class="dropdown-content">
        <a href="#">Sair</a>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <ul class="item-list">
      <li>
        <%= link_to root_path do %>
        <%= image_tag "dashboard.svg" %>
        <p>Dashboard</p>
        <% end %>
      </li>
      <li class="active">
        <%= link_to root_path do %>
        <%= image_tag "cards.svg" %>
        <p>Cards</p>
        <% end %>
        <ul class="subitem-list">
          <li class="active">
            <%= link_to "Moderar cards", "/cards" %>
          </li>
          <li>
            <%= link_to "Destaques", root_path %>
          </li>
          <li>
            <%= link_to "Upload card", root_path%>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to root_path do %>
        <%= image_tag "usuarios.svg" %>
        <p>Usuários</p>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
        <%= image_tag "pontuacao.svg" %>
        <p>Pontuação</p>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="admin-content scrollbar">
    <%= yield %>
  </div>

</body>
</html>
