<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin TMJ</title>
  <%= stylesheet_link_tag "application"%>
</head>
<body id="admin">
  <div class="menu">
    <%= link_to "Admin TMJ", root_path, class: "title-admin" %>

    <a href="#" class="user">Robson C.</a>
  </div>
  <div class="sidebar">
    <ul class="item-list">
      <li>
        <%= link_to root_path do %>
          <%= image_tag "dashboard.svg" %>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="active">
        <%= link_to root_path do %>
          <%= image_tag "cards.svg" %>
          <p>Cards</p>
        <% end %>
        <ul class="subitem-list">
          <li class="active"> 
            <%= link_to "Moderar cards", root_path %>
          </li>
          <li>  
            <%= link_to "Destaques", root_path %>
          </li>
          <li>  
            <%= link_to "Upload card", root_path%>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= image_tag "usuarios.svg" %>
          <p>Usuários</p>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= image_tag "pontuacao.svg" %>
          <p>Pontuação</p>
        <% end %>
      </li>
    </ul>
  </div>
</body>
</html>