<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('favicons/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" href="<%= image_path('favicons/favicon-32x32.png') %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= image_path('favicons/favicon-16x16.png') %>" sizes="16x16">
  <link rel="manifest" href="<%= image_path('favicons/manifest.json') %>">
  <link rel="mask-icon" href="<%= image_path('favicons/safari-pinned-tab.svg') %>" color="#ff0000">
  <meta name="theme-color" content="#c7c7c9">
  <meta charset="UTF-8">
  <title>Administrador TMJ</title>

  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body id="admin">
  <div class="menu">
    <%= link_to "ADMIN TMJ", root_path, class: "title-admin" %>
    <div class="user">
      <span>Robson C.</span>
      <div class="dropdown-content">
        <a href="#">Sair</a>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <ul class="item-list">
      <li class="active">
        <%= link_to "/cards" do %>
        <%= image_tag "cards.svg" %>
        <p>Cards</p>
        <% end %>
        <ul class="subitem-list">
          <li class="active">
            <%= link_to "Moderar cards", "/cards" %>
          </li>
          <!-- <li>
            <%= link_to "Destaques", "/highlights" %>
          </li> -->
        </ul>
      </li>
    </ul>
  </div>

  <div class="admin-content scrollbar">
    <%= yield %>
  </div>

</body>
</html>
