<!-- <p id="notice"><%= notice %></p>

<h1>Highlights</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Media</th>
      <th>Posted at</th>
      <th>Source url</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= highlight.content %></td>
        <td><%= highlight.media %></td>
        <td><%= highlight.posted_at %></td>
        <td><%= highlight.source_url %></td>
        <td><%= highlight.size %></td>
        <td><%= link_to 'Show', highlight %></td>
        <td><%= link_to 'Edit', edit_highlight_path(highlight) %></td>
        <td><%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_highlight_path %> -->

<section id="highlights">
  <div class="top-bar">
    <h1 class="title">Destaques</h1>
    <div class="overlay"></div>
  </div>
</section>
