<section id="highlights-new" class="pages-sub">
    <div class="top-bar">
        <h1 class="title">Editar "<%= @page.title %>"</h1>
    </div>
    <div class="content redactor">
        <%= simple_form_for([:admin, @page], html: { class: 'form' }) do |f| %>
        <div class="padding">
            <% if @page.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

                <ul>
                    <% @page.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <%= f.input :title, label: 'Titulo' %> <br />
            <%= f.input :description, label: 'Descrição' %> <br />
            <%= f.input :keywords, label: 'Keywords' %> <br />
            <%= f.input :content, label: 'Conteúdo' %> <br />
            <input name="image" type="file" id="upload" class="hidden" onchange="">
            <%= f.input :background_menu, label: 'Background Menu' %> <br />
            <% if @page.background_menu_url %>
                <%= image_tag @page.background_menu_url %>
            <% end %>
            <br /><br />
            <%= f.input :background_page, label: 'Background Page' %> <br />
            <% if @page.background_page_url %>
                <%= image_tag @page.background_page_url %>
            <% end %>
        </div>

        <div class="actions">
        <%= f.submit class: 'btn btn-default', value: 'Atualizar Página' %>
        </div>

        <% end %>
    </div>

</section>
