<%= simple_form_for [:admin, @highlight], html: { id: 'highlight-form', class: 'form', multipart: true, name: 'highlight-form' } do |f| %>
<div class="left">
  <div class="field">
    <%= f.input :source_url, label: 'link' %>
  </div>
  <div class="field">
    <%= f.input :content, label: 'texto (se houver)', as: :text %>
  </div>
</div>
<div class="right">
  <div class="top">
    <div class="sizes-container field half">
      <label>tamanho destaque</label>
      <div class="sizes">
        <%= f.collection_radio_buttons :size, [['two', '2'], ['three', '3'], ['four', '4'], ['five', '5']], :first, :last %>
      </div>
    </div>
    <div class="field half">
      <label class="switch-label">status</label>
      <label class="switch">
        <%= f.input_field :published, label: false, wrapper: false %>
        <div class="slider"></div>
      </label>
    </div>
  </div>
  <div class="field">
    <%= f.input :desktop_img, as: :file, label: 'Destaque Desktop' %>
  </div>
  <div class="field">
    <%= f.input :mobile_img, as: :file, label: 'Destaque Mobile' %>
  </div>
</div>
<input type="checkbox" id="input-preview" class="hidden" />
<input type="submit" id="submit-highlight" class="hidden" />
<% end %>
