<div class="vertical-container" ng-swipe-up="swipeUp()">
  <div class="vertical-content">
    <div ng-class="{show : isCardsLoaded}" class="container cards character-card animated">
      <div class="author">
        <div class="box-avatar-user">
          <img class="badge" src="{{ currentUser.editor_icon }}" />
          <div class="avatar" style="background-image: url('{{currentUser.image.url}}')" />
          <img class="avatar_hover" width="200" height="200" src="{{ currentUser.editor_avatar_hover }}" />
        </div>
        <div class="seven columns">
          <a ng-if="user.username == currentUser.username" ng-href="/editar-perfil" target="_self">
            <img class="edit" src="<%=asset_url('site/edit-icon-black.svg')%>" width="auto" height="20px" />
          </a>
          <div class="profile">
            <div class="box-profile">
              <p class="editor">{{currentUser.username}}</p>
              <p class="position">Editor TMJ</p>
            </div>
            <a ng-click="!currentUser.following ? followUser() : unFollowUser()" ng-class="currentUser.following ? 'following' : '' " class="follow">
              <div class="text" ng-if="!currentUser.following">SEGUIR</div>
              <div class="text" ng-if="currentUser.following">SEGUINDO</div>
            </a>
            <div class="followers">
              <p class="number"><span>{{currentUser.followers}}</span> {{currentUser.followers > 1 ? 'Seguidores' : 'Seguidor'}}</p>
            </div>
          </div>
          <div class="about">
            <div class="twelve columns">
              <p class="summary">{{currentUser.bio}}</p>
            </div>
          </div>
          <div class="social">
            <ul class="social-editor">
              <li ng-repeat="n in currentUser.editor_networks" class="social-{{ n.kind }}">
                <a href="{{ n.url }}" target="_blank">
                  <img src="{{ n.icon }}" alt="">
                </a>
              </li>
            </ul>
          </div>
          <!-- <div class="recommendation">
            <div class="label">Recomendações</div>
            <ul>
              <li class="ramona">
                <img src="<%=asset_url('site/icone-ramona.svg')%>" alt="">
                <p class="number">5</p>
              </li>
              <li class="geek">
                <img src="<%=asset_url('site/icone-geek.svg')%>" alt="">
                <p class="number">5</p>
              </li>
              <li class="denise">
                <img src="<%=asset_url('site/icone-denise.svg')%>" alt="">
                <p class="number">5</p>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div ng-include src="'<%= asset_url('cards.html')%>'"></div>
