<div class="overlay-pass" ng-click="togglePassword()"></div>
<div class="container">
    <div class="four columns left">
        <div ng-click="selectFile()" class="box-avatar">
          <img class="avatar" width="200" src="<%= asset_url('site/profile_default.svg') %>" />
          <div class="avatar_hover"></div>
        </div>
        <input type="file" id="photo" style="display: none" file-on-change="changedFile" accept="image/*">
    </div>
    <div class="four columns offset">
        <form name="profileForm">
            <div class="form-group bio">
                <label for="username">bio</label>
                <br>
                <textarea name="bio" class="form-control" cols="1" ng-model="form.bio" rows="4"></textarea>
            </div>
            <ul class="form-group checksocial">
                <!-- <li>
                    <div class="switch">
                      <img src="<%= asset_url('site/pinterest-profile.svg') %>" alt="" class="img-social">
                      <input id="cmn-toggle-pin" class="cmn-toggle cmn-toggle-round" value="1" name="pinterest" type="checkbox">
                      <label for="cmn-toggle-pin"></label>
                    </div>
                </li> -->
                <li>
                    <div class="switch" ng-click="authSocial('facebook')">
                      <img src="<%= asset_url('site/facebook-profile.svg') %>" alt="" class="img-social">
                      <input ng-if="user.providers.facebook" id="cmn-toggle-fb" class="cmn-toggle cmn-toggle-round" value="1" checked="checked" name="facebook" type="checkbox">
                      <input ng-if="!user.providers.facebook" id="cmn-toggle-fb" class="cmn-toggle cmn-toggle-round" value="1" name="facebook" type="checkbox">
                      <label for="cmn-toggle-fb"></label>
                    </div>
                </li>
                <li>
                    <div class="switch" ng-click="authSocial('instagram')">
                      <img src="<%= asset_url('site/instagram-profile.svg') %>" alt="" class="img-social">
                      <input ng-if="user.providers.instagram" id="cmn-toggle-insta" class="cmn-toggle cmn-toggle-round" value="1" checked="checked" name="instagram" type="checkbox">
                      <input ng-if="!user.providers.instagram" id="cmn-toggle-insta" class="cmn-toggle cmn-toggle-round" value="1" name="instagram" type="checkbox">
                      <label for="cmn-toggle-insta"></label>
                    </div>
                </li>
                <!-- <li>
                    <div class="switch">
                      <img src="<%= asset_url('site/vimeo-profile.svg') %>" alt="" class="img-social">
                      <input id="cmn-toggle-vimeo" class="cmn-toggle cmn-toggle-round" value="1" name="vimeo" type="checkbox">
                      <label for="cmn-toggle-vimeo"></label>
                    </div>
                </li>
                <li>
                    <div class="switch">
                      <img src="<%= asset_url('site/tumblr-profile.svg') %>" alt="" class="img-social">
                      <input id="cmn-toggle-tumblr" class="cmn-toggle cmn-toggle-round" value="1" name="tumblr" type="checkbox">
                      <label for="cmn-toggle-tumblr"></label>
                    </div>
                </li> -->
                <li>
                    <div class="switch" ng-click="authSocial('twitter')">
                      <img src="<%= asset_url('site/twitter-profile.svg') %>" alt="" class="img-social">
                      <input ng-if="user.providers.twitter" id="cmn-toggle-twitter" class="cmn-toggle cmn-toggle-round" value="1" checked="checked" name="twitter" type="checkbox">
                      <input ng-if="!user.providers.twitter" id="cmn-toggle-twitter" class="cmn-toggle cmn-toggle-round" value="1" name="twitter" type="checkbox">
                      <label for="cmn-toggle-twitter"></label>
                    </div>
                </li>
                <!-- <li>
                    <div class="switch">
                      <img src="<%= asset_url('site/google-profile.svg') %>" alt="" class="img-social">
                      <input id="cmn-toggle-google" class="cmn-toggle cmn-toggle-round" value="1" name="google" type="checkbox">
                      <label for="cmn-toggle-google"></label>
                    </div>
                </li>
                <li>
                    <div class="switch">
                      <img src="<%= asset_url('site/youtube-profile.svg') %>" alt="" class="img-social">
                      <input id="cmn-toggle-youtube" class="cmn-toggle cmn-toggle-round" value="1" name="youtube" type="checkbox">
                      <label for="cmn-toggle-youtube"></label>
                    </div>
                </li> -->
            </ul>
            <div class="form-group user">
                <label for="username">Nome de usuário</label>
                <br>
                <input type="text" ng-model="form.username" name="username" class="form-control" placeholder="insira seu apelido"/>
            </div>
            <div class="form-group mail">
                <label for="username">E-mail do Responsável</label>
                <br>
                <input type="text" name="email" ng-model="form.email" class="form-control" placeholder="insira o e-mail"/>
            </div>
            <div class="form-group pass">
                <label for="password">Nova Senha</label>
                <br>
                <ul class="input-pass register">
                    <li ng-click="togglePassword()" style="background:url('{{passwordChoice[0].img}}'); background-size: cover;">
                        <input type="hidden" name="pass-1" value="{{passwordChoice[0].value}}"/>
                    </li>
                    <li ng-click="togglePassword()" style="background:url('{{passwordChoice[1].img}}'); background-size: cover;">
                        <input type="hidden" name="pass-2" value="{{passwordChoice[1].value}}"/>
                    </li>
                    <li ng-click="togglePassword()" style="background:url('{{passwordChoice[2].img}}'); background-size: cover;">
                        <input type="hidden" name="pass-3" value="{{passwordChoice[2].value}}"/>
                    </li>
                    <li ng-click="togglePassword()" style="background:url('{{passwordChoice[3].img}}'); background-size: cover;">
                        <input type="hidden" name="pass-3" value="{{passwordChoice[3].value}}"/>
                    </li>
                </ul>
                <div class="pass-box register hide" ng-class="{show: open, hide: !open}">
                    <ul>
                        <li ng-repeat="pass in passwords" ng-click="addToPasswordChoice(pass)">
                            <img src="{{pass.img}}" alt="{{pass.name}}">
                        </li>
                    </ul>
                    <div class="after"></div>
                </div>
            </div>
            <div class="form-group" ng-if="msg_update">
                <label>{{msg_update}}</label>
            </div>
            <div class="form-actions">
                <button type="button" ng-click="save()" class="btn btn-submit">Salvar</button>
                <button type="button" ng-click="back()" class="btn btn-cancel">Cancelar edição</button>
            </div>
            <p class="link-delete">Não quer mais fazer parte? <a href="#"> Deletar conta</a></p>

        </form>
    </div>
    <div class="four columns right">
    </div>
</div>
