<div class="vertical-container" ng-swipe-up="swipeUp()">
  <div class="vertical-content">
    <div ng-class="{show : isCardsLoaded}" class="container cards ramona-card animated">
      <div class="author">
        <div class="box-avatar">
          <img class="badge" src="<%=asset_url('site/ramona-badge.svg')%>" />
          <img class="avatar" width="200" src="<%=asset_url('site/ramona_novo.png')%>" />
          <img class="avatar_hover" width="200" src="<%=asset_url('site/ramona_hover.png')%>" />
        </div>
        <div class="seven columns">
          <div class="profile">
            <div class="box-profile">
              <p class="editor">RAMONA</p>
              <p class="position">Editor TMJ</p>
            </div>
            <a ng-href="#" ng-click="followUser()" class="follow">SEGUIR</a>
          </div>
          <div class="about">
            <div class="twelve columns">
              <p class="summary">
                Ramona é uma bruxinha tímida, que acredita na importância de cada um e de suas diferenças no planeta Terra. Gosta de explorar os mistérios da vida, do universo e quer descobrir como fazer do mundo um lugar melhor para todos.
              </p>
            </div>
          </div>
          <div class="social">
            <ul class="social-editor">
              <li class="social-pi"><a href="https://br.pinterest.com/ramonatmj/" target="_blank"><img src="<%=asset_url('site/pinterest-profile.svg')%>" alt="" /></a></li>
              <!-- <li class="social-fb"><a href="#" target="_blank"><img src="/img/facebook-profile.svg" alt="" /></a></li> -->
              <!-- <li class="social-in"><a href="#" target="_blank"><img src="/img/instagram-profile.svg" alt="" /></a></li> -->
              <li class="social-tu"><a href="https://lunetalunatica.tumblr.com/" target="_blank"><img src="<%=asset_url('site/tumblr-profile.svg')%>" alt="" /></a></li>
              <!-- <li class="social-vi svg"><a href="#" target="_blank"><img src="/img/vimeo-profile.svg" alt="" /></a></li> -->
              <!-- <li class="social-tw"><a href="#" target="_blank"><img src="/img/twitter-profile.svg" alt="" /></a></li> -->
              <!-- <li class="social-go"><a href="#" target="_blank"><img src="/img/google-profile.svg" alt="" /></a></li> -->
              <li class="social-yt"><a href="https://www.youtube.com/channel/UC2sp_4csOUc4VnmNdWxTXhQ" target="_blank"><img src="<%=asset_url('site/youtube-profile.svg')%>" alt="" /></a></li>
              <!-- <li class="social-twitch"><a href="#" target="_blank"><img src="/img/twitch-profile.svg" alt="" /></a></li> -->
            </ul>
          </div>
        </div>
        <div class="followers">
          <p class="number">3456</p>
          <p class="description">Seguidores</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div ng-include src="'<%= asset_url('cards.html')%>'"></div>
