<div class="vertical-container" ng-swipe-up="swipeUp()">
  <div class="vertical-content">
    <div ng-class="{show : isCardsLoaded}" class="container cards users animated">
      <div class="author">
        <div class="box-avatar-user">
          <img class="avatar" width="200" height="200" src="{{user.image}}" />
        </div>
        <div class="seven columns">
          <a ng-href="/editar-perfil" target="_self">
            <img class="edit" src="<%=asset_url('site/edit-icon-black.svg')%>" width="auto" height="20px" />
          </a>
          <div class="profile">
            <div class="box-profile">
              <p class="editor">{{user.username}}</p>
            </div>
          </div>
          <div class="about">
            <div class="twelve columns">
              <p class="summary">
                {{user.bio}}
              </p>
            </div>
          </div>
          <div class="social">
            <ul class="social-editor">
              <!-- <li class="social-pi"><a href="https://br.pinterest.com/ramonatmj/" target="_blank"><img src="<%=asset_url('site/pinterest-profile.svg')%>" alt="" /></a></li> -->
              <li class="social-fb {{user.providers.facebook ? 'active' :''}}"><a href="{{user.providers.facebook ? 'http://facebook.com/'+ user.providers.facebook  :'#'}}" target="{{user.providers.facebook ? '_blank' :''}}"><img src="<%=asset_url('site/facebook-profile.svg')%>" alt="" /></a></li>

              <li class="social-in {{user.providers.instagram ? 'active' :''}}"><a href="{{user.providers.instagram ? 'http://instagram.com/'+ user.providers.instagram :'#'}}" target="{{user.providers.instagram ? '_blank' :''}}"><img src="<%=asset_url('site/instagram-profile.svg')%>" alt="" /></a></li>
              <!-- <li class="social-tu"><a href="https://lunetalunatica.tumblr.com/" target="_blank"><img src="<%=asset_url('site/tumblr-profile.svg')%>" alt="" /></a></li> -->
              <!-- <li class="social-vi svg"><a href="#" target="_blank"><img src="/img/vimeo-profile.svg" alt="" /></a></li> -->
              <li class="social-tw {{user.providers.twitter ? 'active' :''}}"><a href="{{user.providers.twitter ? 'http://twitter.com/'+ user.providers.twitter :'#'}}" target="{{user.providers.twitter ? '_blank' :''}}"><img src="<%=asset_url('site/twitter-profile.svg')%>" alt="" /></a></li>
              <!-- <li class="social-go"><a href="#" target="_blank"><img src="/img/google-profile.svg" alt="" /></a></li> -->
              <!-- <li class="social-yt"><a href="https://www.youtube.com/channel/UC2sp_4csOUc4VnmNdWxTXhQ" target="_blank"><img src="<%=asset_url('site/youtube-profile.svg')%>" alt="" /></a></li> -->
              <!-- <li class="social-twitch"><a href="#" target="_blank"><img src="/img/twitch-profile.svg" alt="" /></a></li> -->
            </ul>
          </div>
          <div class="recommendation">
            <div class="label">Recomendações</div>
            <ul>
              <li class="ramona">
                <img src="<%=asset_url('site/icone-ramona.svg')%>" alt="">
                <p class="number">{{user.ramona_recommendations ? user.ramona_recommendations : 0}}</p>
              </li>
              <li class="geek">
                <!-- <img src="<%=asset_url('site/icone-geek.svg')%>" alt="">
                <p class="number">{{user.geek_recommendations ? user.geek_recommendations : 0}}</p> -->
              </li>
              <li class="denise">
                <!-- <img src="<%=asset_url('site/icone-denise.svg')%>" alt="">
                <p class="number">{{user.denise_recommendations ? user.denise_recommendations : 0}}</p> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div ng-include src="'<%= asset_url('cards.html')%>'"></div>
