<div class="actions <%= custom_class %>">
  <a href="remix/image/<%= uid %>" target="_blank" class="download">
    <%= image_tag "remix/icon-arrow-down", alt: 'Baixar', class: 'toggler-main-icon' %>
    <%= image_tag "remix/icon-arrow-down-shadow", alt: 'Baixar', class: 'toggler-arrow-shad-icon' %>
  </a>
  <!-- <a href="#" target="_blank" class="share">
    <%= image_tag "remix/icon-reply", alt: 'Baixar', class: 'toggler-main-icon' %>
  </a> -->
  <button type="button" class="remove" data-id="<%= id %>">
    <%= image_tag "remix/icon-trash", alt: 'Remover', class: 'toggler-main-icon' %>
    <%= image_tag "remix/icon-trash-shadow", alt: 'Remover', class: 'toggler-trash-shad-icon' %>
  </button>
</div>
