<div class="actions <%= custom_class %>">
  <button type="button" class="next">
    <%= image_tag "remix/icon-arrow-right", alt: 'Próximo' %>
  </button>
  <button type="button" class="publish">Salvar</button>
  <button type="button" class="publish comic mobile-comic">Salvar</button>
  <!-- <button type="button" class="create-new">Criar um novo</button> -->
  <!-- <button type="button" class="create-new-comic">Criar uma nova</button> -->
  <button type="button" class="start-over">
    <%= image_tag "remix/icon-eraser", alt: 'Começar novamente', class: 'toggler-main-icon' %>
    <%= image_tag "remix/icon-eraser-shadow", alt: 'Começar novamente', class: 'toggler-shad-icon' %>
  </button>
  <a href="#" target="_blank" class="download">
    <%= image_tag "remix/icon-arrow-down", alt: 'Baixar', class: 'toggler-main-icon' %>
    <%= image_tag "remix/icon-arrow-down-shadow", alt: 'Baixar', class: 'toggler-shad-icon' %>
  </a>
  <button type="button" class="remove">
    <%= image_tag "remix/icon-trash", alt: 'Remover', class: 'toggler-main-icon' %>
    <%= image_tag "remix/icon-trash-shadow", alt: 'Remover', class: 'toggler-shad-icon' %>
  </button>
</div>
