<section class="remix-gallery">
  <div class="gallery-holder">
    <div class="btn-default-big gallery-item-new">
        <img src="<%=asset_url('site/icon-remix.svg')%>" />
        <p>CRIAR NOVO<br />REMIX</p>
    </div>
    <div class="btn-default-big gallery-item-new-comic">
        <img src="<%=asset_url('site/icon-tirinha.svg')%>" />
        <p>CRIAR NOVA<br />TIRINHA</p>
    </div>
    <% @images.each do |i| %>
    <div class="gallery-item" data-id="<%= i.id %>">
      <%= image_tag remix_image_url(uid: i.uid), { :class => "picture" } %>
      <%= render "actions", id: i.id, uid: i.uid, custom_class: '' %>
    </div>
    <% end %>
  </div>
</section>
