<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :origin %>
    <%= f.number_field :origin, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :media_id %>
    <%= f.text_field :media_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :posted_at %>
    <%= f.datetime_select :posted_at, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
