<%= simple_form_for(@card, html: { class: 'form-horizontal'  }) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :origin %>
  <%= f.input :content%>
  <%= f.input :media %>
  <%= f.input :posted_at %>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
