<div class="top-bar">
  <h1 class="title"> Moderar Cards</h1>
  <div id="overlay"></div>

  <div class="filter-bar">
    <div class="btn-filter">
      <div class="status item">
        <div class="main-select st-sel">Pendentes</div>
        <ul class="status-options">
          <li class="active" value='pending'>Pendentes</li>
          <li value='denied'>Negados</li>
          <li value='approved'>Aprovados</li>
        </ul>
      </div>

      <div class="social item">
        <div class="main-select so-sel">Todos</div>
        <ul class="social-options">
          <li value='all' class="active">Todos</li>
          <li value='facebook'>Facebook</li>
          <li value='instagram'>Instagram</li>
          <li value='twitter'>Twitter</li>
          <li value='youtube'>Youtube</li>
          <li value='tumblr'>Tumblr</li>
          <li value='pinterest'>Pinterest</li>
          <li value='twitch_tv'>Twitch TV</li>
          <li value='blog'>Blog</li>
        </ul>
      </div>

      <form>
        <input type=search name=search placeholder="Buscar">
      </form>
    </div>

    <div class="btn-status">
      <a class="approve">
        <%= image_tag "aprovar.svg" %>
      </a>
      <a class="deny">
        <%= image_tag "negar.svg" %>
      </a>
      <a class="select-all">
        <%= image_tag "select-all.svg", class: "select-all-img" %>
        <%= image_tag "deselect-all.svg", class: "deselect-all-img" %>
      </a>
    </div>
  </div>
</div>
<div class="bottom-content">

  <p id="notice"><%= notice %></p>

  <div id="cards-container" class="container cards">
    <% @cards.each do |card| %>
    <div class="card show" data-class="" data-id="<%= card.id %>">
      <div class="selected-overlay"></div>
      <% if card.kind == 'image' %>
        <div style="background-image:url('<%= card.image.url %>')" class="img">
          <%= image_tag "user", class: 'user-photo' %>
        </div>
      <% else %>
        <%= image_tag "user", class: 'user-photo' %>
      <% end %>
      <% if card.kind == 'video' %>
        <div class="videoMobile"></div>
      <% end %>
      <% if card.kind != 'featured' %>
        <div class="content">
          <p class="name">Adão Coelho</p>
          <p class="date"><%= image_tag('social/' + card.origin + '.svg')%><%= card.posted_at %></p>
          <p class="text"><%= card.content %></p>
        </div>
      <% end %>
      <% if card.kind == 'featured' %>
        <%= card.content %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="card one-five column"></div>


  <!-- <%= link_to 'NEW CARD', new_card_path %> -->


</div>
