<div class="top-bar">
  <h1 class="title"> Moderar Cards</h1>
  <div id="overlay"></div>

  <div class="filter-bar">
    <div class="btn-filter">
      <div class="status item">
        <div class="main-select st-sel">Todos</div>
        <%- status = { "" => "Todos", pending: "Pendentes", rejected: "Negados", accepted: "Aprovados" } %>
        <ul class="status-options filter-options">
          <% status.each do |key, value| %>
            <%= link_to cards_path + query_string(:status, key) do %>
            <li class="<%= ((params[:status] == key.to_s) && "active") || "" %>" value='<%= key %>'>
              <%= value %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="social item">
        <div class="main-select so-sel">Todos</div>
        <%- social = { "" => "Todos", facebook: "Facebook", twitter: "Twitter", youtube: "Youtube", instagram: "Instagram" }%>
        <ul class="social-options filter-options">
          <% social.each do |key, value| %>
            <%= link_to cards_path + query_string(:origin, key) do%>
            <li class="<%= ((params[:origin] == key.to_s) && "active") || "" %>" value='<%= key %>'>
              <%= value %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <form>
        <input class="search" type=search name=search placeholder="Buscar">
      </form>
    </div>

    <div class="btn-status">
      <a class="accept" data-action="accept">
        <%= image_tag "aprovar.svg" %>
      </a>
      <a class="reject" data-action="reject">
        <%= image_tag "negar.svg" %>
      </a>
      <a class="select-all">
        <%= image_tag "select-all.svg", class: "select-all-img" %>
        <%= image_tag "deselect-all.svg", class: "deselect-all-img" %>
      </a>
    </div>
  </div>
</div>
<div class="bottom-content">

  <p id="notice"><%= notice %></p>

  <div id="cards-container" class="container cards">
    <% @cards.each do |card| %>
    <div class="card column show <%= card_size(card) %>" data-class="card column <%= card_size(card) %>" data-id="<%= card.id %>">
      <div class="selected-overlay"></div>
      <div class="status-bar <%= card.status %> color"></div>
      <% if card.kind == 'image' %>
      <div style="background-image:url('<%= card.image.url %>'); padding: <%= card_image_size(card) %>% 0;" class="img">
        <!-- <%= image_tag "user", class: 'user-photo' %> -->
      </div>
      <% else %>
      <!-- <%= image_tag "user", class: 'user-photo' %> -->
      <% end %>
      <% if card.kind == 'video' %>
        <div class="videoMobile"></div>
        <%= render 'cards/youtube', video: card.video %>
      <% end %>
      <% if card.kind != 'featured' %>
      <div class="content">
        <!-- <p class="name">Adão Coelho</p> -->
        <p class="date"><%= image_tag('social/' + card.origin + '.svg')%><%=l card.posted_at, format: '%d %h %Y, %H:%M' %></p>
        <p class="text"><%= card.content %></p>
      </div>
      <% end %>
      <% if card.kind == 'featured' %>
      <%= card.content %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="card one-five column"></div>


  <!-- <%= link_to 'NEW CARD', new_card_path %> -->


</div>
