
<section id="background-colors" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Background Colors</h1>
  </div>
  <div class="content">
    <%= link_to "Adicionar nova cor", new_admin_remix_background_color_path, class: 'button' %>
    <ul>
      <% @backgrounds.each do |bg| %>
      <li><span style="background-color: <%= bg.color %>"></span><p><%= bg.color %></p><%= link_to "Editar",  edit_admin_remix_background_color_path(bg), class: 'button' %><%= link_to "Apagar", admin_remix_background_color_path(bg), class: 'button', method: :delete, remote: true %>
      </li>
      <% end %>
    </ul>
  </div>
</section>
