
<section id="cards" style="margin-top: 100px;">
    <div class="content">
        <%= link_to "New",  new_admin_remix_category_path %>
        <ul>
            <% @categories.each do |category| %>
            <li><%= category.name %>
                (<%= link_to "Edit",  edit_admin_remix_category_path(category) %> |
                <%= link_to "Delete", admin_remix_category_path(category), method: :delete, remote: true %> |
                <%= link_to "Images",  admin_remix_category_images_path(category) %>)
            </li>
            <% end %>
        </ul>
    </div>
</section>
