<section id="text-colors" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Text Colors</h1>
  </div>
    <div class="content">
        <%= link_to "Adicionar nova cor",  new_admin_remix_text_color_path, class: 'button' %>
        <ul>
            <% @text_colors.each do |color| %>
            <li>-- Background: <span style="background-color: <%= color.background %>"></span><p><%= color.background %></p> -- Foreground: <span style="background-color: <%= color.foreground %>"></span><p><%= color.foreground %></p>
                <%= link_to "Editar",  edit_admin_remix_text_color_path(color), class: 'button' %>
                <%= link_to "Apagar", admin_remix_text_color_path(color), class: 'button', method: :delete, remote: true %>
            </li>
            <% end %>
        </ul>
    </div>
</section>
